{{> navHome}}

<main class="container mx-auto">
    <section class="flex flex-col items-center justify-center px-4 my-10">
        <div class="bg-secondary-100 flex flex-col items-center justify-center shadow-lg rounded-lg p-4">
            <h2 class="text-2xl text-center pb-6">{{this.juego.title}}</h2>
            <img src="{{this.juego.urlImage}}" class="h-96" alt="">
            <div class="flex flex-col pt-4">
                <p>Fecha lanzamiento: {{this.juego.publicDate}}</p>
                <p>Estudio: {{this.juego.studio}}</p>
                <div>
                    {{#if this.promedio}}
                        <p>Valoración: {{this.promedio}} </p>
                        {{else}}
                        <p>Valoración: Sin Valoración </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class=" pt-10 pb-20 px-6 text-justify">
            <p>{{this.juego.description}}</p>
        </div>
        <div class="flex justify-start">
            <button id="addReview" class="bg-secondary-200 rounded-lg px-2 py-1 my-2 hover:bg-secondary-100/80">Agregar Reseña</button>
        </div>
        <div class="flex flex-col">
            <p id="msgSuccess" class="text-green-700 text-start text-sm"></p>
            <p id="msgError" class="text-red-700 text-start text-sm"></p>
        </div>
        <div class="divNewReview hidden">
            <form action="" id="formReview" class="md:min-w-[50vh] px-4 my-4">
                <div class="flex flex-col">
                    <input type="number" name="idGame" value="{{this.juego.id}}" class="w-full bg-gray-50 border border-gray-300 rounded-md hidden" required>
                    <label for="score" class="mb-2 text-sm font-medium text-gray-800">Puntuación</label>
                    <select name="score" id="" class="w-full bg-gray-50 border border-gray-300 rounded-md">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="content" class="mt-4 mb-2 text-sm font-medium text-gray-800">Reseña (max. 300 caracteres)</label>
                    <textarea form="formReview" name="content" id="" cols="" rows="5" maxlength="300" class="w-full bg-gray-50 border border-gray-300 rounded-md" required></textarea>
                </div>
                <div class="flex justify-center my-4">
                    <button type="submit" class="bg-secondary-300 items-center py-1 px-4 border border-gray-300 rounded-lg shadow-lg transition ease-in-out duration-300 hover:scale-110">Comentar</button>
                </div>
            </form>
        </div>
        <div class="">
            {{#each this.reseñas}}
            <article class="bg-secondary-100 shadow-lg rounded-lg my-4 p-4">
                <p>{{this.userName}}</p>
                <p>Puntuación: {{this.score}}</p>
                <p>Comentarios: {{this.content}}</p>
            </article>
            {{/each}}
        </div>
    </section>
</main>

{{> footer}}

<script type="module" src="../js/reviews.js"></script>
