{{> navHome}}

<main class="container mx-auto">
    <section class="flex flex-col items-center justify-center px-4 my-10">
        <div class="bg-secondary-100 shadow-lg rounded-lg p-4">
            <div>
                <h2 class="text-2xl text-center pb-6">{{this.name}}</h2>
                <img src="../../img/profile.png" class="w-52 md:w-56" alt="">
            </div>
            <div class="flex flex-col pt-4">
                <p>Id: {{this.id}}</p>
                <p>Email: {{this.email}}</p>
            </div>
        </div>
    </section>

    <section>
        <div class="flex justify-start">
            <button id="seeReview" class="bg-secondary-300 rounded-lg px-2 py-1 my-2 hover:bg-secondary-100">Ver Mis Reseñas</button>
        </div>
        <div class="flex flex-col">
            <p id="msgSuccess" class="text-green-700 text-start text-sm"></p>
            <p id="msgError" class="text-red-700 text-start text-sm"></p>
        </div>
        <div class="" id="reviewsUser">
            {{!-- {{#each rows}}
            <article class="bg-secondary-100 shadow-lg rounded-lg my-4 p-4">
                <p>{{this.userName}}</p>
                <p>Puntuación: {{this.score}}</p>
                <p>Comentarios: {{this.content}}</p>
            </article>
            {{/each}} --}}
        </div>
    </section>


</main>

{{> footer}}

<script type="module" src="../../js/profile.js"></script>
